<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Me</h2>
        <p>Hey world! Meet Emerald, a girl with a goal and passion to match. She conquers challenges with fierce detemination and a smile :). Get ready for a journey of laughter, kindness, and purpose!</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>